html, body { height: 100%; }
body {
  margin-top: 2%;
}

#form {
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  border:#737373 solid 2px;
  border-radius: 15px;
}
#button button {
  width: 80px;
  height: 30px;
  margin-right: 5px;
}

#map {
  /*text-align: center;*/
  /*width: 80%;*/
  margin: 0 10%;
  height: 80%;
}
